<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright 2021 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_editor.svg"
          name="Entity detail view"
          order="20">
    <tags>
        <tag>ENTITY</tag>
        <tag>JPA</tag>
    </tags>
    <description>
        <![CDATA[<html>Entity detail view with a form and action buttons: <i>OK</i> and <i>Cancel</i>.</html>]]>
    </description>
    <locMessages key="detailTitle" expressionKey="${studioUtils.decapitalize(detailControllerName)}.title">
        <message lang="default">
            <![CDATA[${studioUtils.makeNaturalMessage(entity.className)}]]>
        </message>
    </locMessages>
    <steps>
        <step name="Entity detail view" order="0"/>
        <step name="Entity detail view fetch plan" order="1"/>
    </steps>
    <property caption="Entity"
              code="entity"
              propertyType="ENTITY"
              required="true"/>
    <property caption="Entity fetch plan"
              code="detailFetchPlan"
              step="1"
              propertyType="VIEW_COMPONENT"
              relatedProperty="entity"
              required="true"/>

    <property caption="Descriptor name"
              code="detailDescriptorName"
              propertyType="DESCRIPTOR_NAME"
              sourceName="descriptor"
              required="true"
              dynamic="true"
              advanced="true"
              valueTemplate="${api.evaluateScript('descriptorFileName.groovy', ['entity': entity])}-detail-view">
        <dependency code="entity"/>
    </property>

    <property caption="Controller name"
              code="detailControllerName"
              propertyType="CLASS_NAME"
              sourceName="controller"
              required="true"
              dynamic="true"
              advanced="true"
              valueTemplate="${entity.className}DetailView">
        <dependency code="entity"/>
    </property>

    <property caption="View Id"
              code="detailId"
              propertyType="SCREEN_ID"
              advanced="true"
              dynamic="true"
              valueTemplate="${entity.name!=null?entity.name:entity.className}.detail"
              required="true">
        <dependency code="entity"/>
    </property>

    <property caption="View route"
              code="detailRoute"
              propertyType="STRING"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${api.pluralForm(entity.uncapitalizedClassName)}">
        <dependency code="entity"/>
    </property>

    <property caption="View route parameter"
              code="detailRouteParam"
              propertyType="STRING"
              advanced="true"
              required="true"
              defaultValue="id"/>

    <source fileExt="xml"
            name="descriptor"/>
    <source fileExt="java"
            name="controller"/>
</template>
