<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_editor.svg"
          name="DTO entity editor"
          order="32">
    <tags>
        <tag>ENTITY</tag>
        <tag>DTO</tag>
    </tags>
    <description>
        <![CDATA[<html>DTO editor screen with a form and window action buttons: <i>OK</i> and <i>Cancel</i>.
<br>Select <b>Extended window actions</b> checkbox to create an editor that can be saved without closing the screen.
It will have <i>Save and close</i>, <i>Save</i> and <i>Cancel</i> buttons.</html>]]>
    </description>
    <locMessages key="editorCaption" expressionKey="${studioUtils.decapitalize(editorControllerName)}.caption">
        <message lang="default">
            <![CDATA[${entity.className} editor]]>
        </message>
    </locMessages>
    <steps>
        <step name="Entity editor" order="0"/>
    </steps>
    <property caption="Entity"
              code="entity"
              propertyType="ENTITY"
              required="true"/>

    <property caption="Descriptor name"
              code="editorDescriptorName"
              propertyType="DESCRIPTOR_NAME"
              sourceName="descriptor"
              required="true"
              dynamic="true"
              advanced="true"
              valueTemplate="${api.evaluateScript('descriptorFileName.groovy', ['entity': entity])}-edit">
        <dependency code="entity"/>
    </property>

    <property caption="Controller name"
              code="editorControllerName"
              propertyType="CLASS_NAME"
              sourceName="controller"
              required="true"
              dynamic="true"
              advanced="true"
              valueTemplate="${entity.className}Edit">
        <dependency code="entity"/>
    </property>

    <property caption="Screen Id"
              code="editorId"
              propertyType="SCREEN_ID"
              advanced="true"
              dynamic="true"
              valueTemplate="${entity.name!=null?entity.name:entity.className}.edit"
              required="true">
        <dependency code="entity"/>
    </property>

    <property caption="Column width"
              code="fieldColumnWidth"
              defaultValue="350px"
              propertyType="PX_SIZE"
              preferences="true"/>
    <property caption="Modal dialog"
              code="modalDialog"
              propertyType="BOOLEAN"
              preferences="true"/>
    <property caption="Extended window actions"
              code="extendedWindowActions"
              propertyType="BOOLEAN"
              preferences="true"/>
    <property caption="Keep editor actions at the bottom"
              code="editorActionBottom"
              propertyType="BOOLEAN"
              preferences="true"/>

    <source fileExt="xml"
            name="descriptor"/>
    <source fileExt="java"
            name="controller"/>
    <source fileExt="groovy"
            name="controller"/>
    <source fileExt="kt"
            name="controller"/>
</template>