<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_blank.svg"
          order="1000"
          name="Bpm process form">
    <tags>
        <tag>BPM</tag>
    </tags>
    <description>
        <![CDATA[<html>Bpm process form.</html>]]>
    </description>
    <locMessages key="title" expressionKey="${studioUtils.decapitalize(controllerName)}.title">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(id, project)}]]>
        </message>
    </locMessages>

    <steps>
        <step name="BPM process form" order="0"/>
        <step name="Entity detail view fetch plan" order="1"
              description="Detail view fetch plan determines entity attributes and associations to be loaded from the database and edited in the view components"
              condition="${processFormType.name() == 'ENTITY'}">
            <dependency code="processFormType"/>
        </step>
        <step name="BPM process form variables" order="2"
              condition="${processFormType.name() in ['VARIABLE','ENTITY']}">
            <dependency code="processFormType"/>
        </step>
        <step name="BPM process form outcomes" order="3"
              condition="${processFormType.name() in ['VARIABLE','ENTITY'] &amp;&amp; processFormCaller.name() != 'START_EVENT'}">
            <dependency code="processFormType"/>
            <dependency code="processFormCaller"/>
        </step>
    </steps>

    <property caption="Process id"
              code="processFormId"
              propertyType="PROCESS_FORM_ID"
              required="false"/>

    <property caption="Process form type"
              code="processFormType"
              propertyType="PROCESS_FORM_TYPE"
              required="true"/>

    <property caption="Process form caller"
              code="processFormCaller"
              propertyType="PROCESS_FORM_CALLER_COMPONENT"
              required="true"/>

    <property caption="Entity"
              code="entity"
              propertyType="PROCESS_FORM_ENTITY_DATA_OBJECT">
        <dynamicAttribute name="enabled" source="${processFormType.name() == 'ENTITY'}">
            <dependency code = "processFormType"/>
        </dynamicAttribute>
        <dynamicAttribute name="required" source="${processFormType.name() == 'ENTITY'}">
            <dependency code = "processFormType"/>
        </dynamicAttribute>
    </property>

    <property caption="Descriptor name"
              code="descriptorName"
              defaultValue="bpm-process-form"
              propertyType="DESCRIPTOR_NAME"
              required="true"
              focused="true"
              sourceName="descriptor"/>

    <property caption="Controller name"
              code="controllerName"
              propertyType="CLASS_NAME"
              required="true"
              dynamic="true"
              sourceName="controller"
              valueTemplate="${api.evaluateScript('controllerNameByDescriptorName.groovy', ['descriptorName': descriptorName])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="View id"
              code="id"
              propertyType="SCREEN_ID"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${api.evaluateScript('screenIdByDescriptorName.groovy', ['descriptorName': descriptorName, 'projectId': project_id])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="View route"
              code="route"
              propertyType="FLOW_VIEW_ROUTE"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${api.evaluateScript('controllerNameByDescriptorName.groovy', ['descriptorName': descriptorName])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="Task name"
              code="bpmTaskName"
              propertyType="PROCESS_FORM_TASK_NAME"
              advanced="true"
              required="false">
        <dynamicAttribute name="name" source="${processFormCaller.name() == 'START_EVENT' ? 'Event name' : 'Task name'}">
            <dependency code = "processFormCaller"/>
        </dynamicAttribute>
    </property>

    <property caption="Task details"
              code="bpmTaskDetails"
              propertyType="PROCESS_FORM_TASK_DETAILS"
              advanced="true"
              required="false">
        <dynamicAttribute name="name" source="${processFormCaller.name() == 'START_EVENT' ? 'Event details' : 'Task details'}">
            <dependency code = "processFormCaller"/>
        </dynamicAttribute>
    </property>

    <property caption="Entity fetch plan"
              code="detailFetchPlan"
              step="1"
              propertyType="VIEW_COMPONENT"
              relatedProperty="entity"
              required="false"/>

    <property caption="Process form variables"
              code="processFormVariables"
              step="2"
              propertyType="PROCESS_FORM_VARIABLES"
              required="false"/>

    <property caption="Process form outcomes"
              code="processFormOutcomes"
              step="3"
              propertyType="PROCESS_FORM_OUTCOMES"
              required="false"/>

    <source fileExt="xml"
            name="descriptor"/>

    <source fileExt="java"
            name="controller"/>

    <source fileExt="kt"
            name="controller"/>
</template>