<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_blank.svg"
          order="1000"
          name="BPMN process form">
    <tags>
        <tag>BPM</tag>
    </tags>
    <description>
        <![CDATA[<html>BPMN process form.</html>]]>
    </description>
    <locMessages key="title" expressionKey="${studioUtils.decapitalize(controllerName)}.title">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(id, project)}]]>
        </message>
    </locMessages>
    <locMessages key="description" expressionKey="${studioUtils.decapitalize(controllerName)}.description">
        <message lang="default">
            <![CDATA[${studioUtils.toString(bpmTaskDetails)}]]>
        </message>
    </locMessages>
    <locMessages key="startProcess" expressionKey="${studioUtils.decapitalize(controllerName)}.startProcess">
        <message lang="default">
            <![CDATA[${processFormType.name() != 'START_EVENT' ? '' : 'Start process'}]]>
        </message>
    </locMessages>
    <locMessages key="completeTask" expressionKey="${studioUtils.decapitalize(controllerName)}.completeTask">
        <message lang="default">
            <![CDATA[${processFormOutcomes != null && processFormOutcomes.isEmpty() && processFormType.name() != 'START_EVENT' ? 'Complete task' : ''}]]>
        </message>
    </locMessages>

    <steps>
        <step name="BPM process form" order="0"/>
        <step name="Entity variable" order="1"
              description="Select an existing entity variable from the process context or create a new one."
              condition="${processFormTemplate.name() == 'ENTITY'}">
            <dependency code="processFormTemplate"/>
        </step>
        <step name="BPM process form variables" order="2"
              description="Select existing variables to display in the process form or create new ones."/>
        <step name="BPM process form outcomes" order="3"
              description="Define the process form outcomes to generate task completion buttons."
              condition="${processFormType != null &amp;&amp; processFormType.name() != 'START_EVENT'}">
            <dependency code="processFormType"/>
        </step>
    </steps>

    <!--****************        Step 0:         ****************-->

    <property caption="Process id"
              code="processFormId"
              propertyType="PROCESS_FORM_ID"
              visible="false"
              required="false"/>

    <property caption="Form template"
              code="processFormTemplate"
              propertyType="PROCESS_FORM_TEMPLATE"
              required="true"/>

    <property caption="Form type"
              code="processFormType"
              propertyType="PROCESS_FORM_TYPE">
    </property>

    <property caption="Descriptor name"
              code="descriptorName"
              defaultValue="bpm-process-form"
              propertyType="DESCRIPTOR_NAME"
              required="true"
              focused="true"
              sourceName="descriptor"/>

    <property caption="Controller name"
              code="controllerName"
              propertyType="CLASS_NAME"
              required="true"
              dynamic="true"
              sourceName="controller"
              valueTemplate="${api.evaluateScript('controllerNameByDescriptorName.groovy', ['descriptorName': descriptorName])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="View id"
              code="id"
              propertyType="SCREEN_ID"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${api.evaluateScript('screenIdByDescriptorName.groovy', ['descriptorName': descriptorName, 'projectId': project_id])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="View route"
              code="route"
              propertyType="FLOW_VIEW_ROUTE"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${descriptorName}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="Description"
              code="bpmTaskDetails"
              propertyType="PROCESS_FORM_TASK_DETAILS"
              advanced="true"
              required="false">
    </property>

<!--****************        Step 1:         ****************-->

    <property caption="Process id"
              code="processFormIdEntity"
              step="1"
              propertyType="PROCESS_FORM_ID"
              visible="false"
              required="false"/>

    <property caption="Use existing variable"
              code="useExistingVariable"
              step="1"
              propertyType="BOOLEAN"
              dynamic="true"
              valueTemplate="${processFormIdEntity != null &amp;&amp; !processFormIdEntity.id.isEmpty()}">
        <dependency code="processFormIdEntity"/>
    </property>

    <property caption="Entity variable"
              code="entityObject"
              step="1"
              propertyType="PROCESS_FORM_ENTITY_DATA_OBJECT">
        <dynamicAttribute name="enabled" source="${useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
        <dynamicAttribute name="visible" source="${useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
        <dynamicAttribute name="required" source="${useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
    </property>

    <property caption="Entity"
              code="entity"
              step="1"
              propertyType="ENTITY">
        <dynamicAttribute name="enabled" source="${!useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
        <dynamicAttribute name="visible" source="${!useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
        <dynamicAttribute name="required" source="${!useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
    </property>

    <property caption="Variable name"
              code="entityObjectName"
              step="1"
              propertyType="STRING"
              dynamic="true"
              valueTemplate="${entity.uncapitalizedClassName}Var">
        <dependency code="entity"/>
        <dynamicAttribute name="enabled" source="${!useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
        <dynamicAttribute name="visible" source="${!useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
        <dynamicAttribute name="required" source="${!useExistingVariable}">
            <dependency code = "useExistingVariable"/>
        </dynamicAttribute>
    </property>

    <property caption="Entity fetch plan"
              code="detailFetchPlan"
              step="1"
              propertyType="VIEW_COMPONENT"
              relatedProperty="entity"
              required="false"/>

    <!--****************        Step 2:         ****************-->

    <property caption="Process form variables"
              code="processFormVariables"
              step="2"
              propertyType="PROCESS_FORM_VARIABLES"
              required="false"/>

    <!--****************        Step 3:         ****************-->

    <property caption="Process form outcomes"
              code="processFormOutcomes"
              step="3"
              propertyType="PROCESS_FORM_OUTCOMES"
              required="false"/>

    <!--********************************************************-->

    <source fileExt="xml"
            name="descriptor"/>

    <source fileExt="java"
            name="controller"/>

    <source fileExt="kt"
            name="controller"/>
</template>