<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_blank.svg"
          order="1000"
          name="Bpm process form">
    <tags>
        <tag>BPM</tag>
    </tags>
    <description>
        <![CDATA[<html>Bpm process form.</html>]]>
    </description>
    <locMessages key="title" expressionKey="${studioUtils.decapitalize(controllerName)}.title">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(id, project)}]]>
        </message>
    </locMessages>

    <steps>
        <step name="BPM process form" order="0"/>
        <step name="BPM process form variables" order="1"/>
        <step name="BPM process form outcomes" order="2"/>
    </steps>

    <property caption="Process id"
              code="processFormId"
              propertyType="PROCESS_FORM_ID"
              required="false"/>

    <property caption="Process form type"
              code="processFormType"
              propertyType="PROCESS_FORM_TYPE"
              required="true"/>

    <property caption="Descriptor name"
              code="descriptorName"
              defaultValue="bpm-process-form"
              propertyType="DESCRIPTOR_NAME"
              required="true"
              focused="true"
              sourceName="descriptor"/>

    <property caption="Controller name"
              code="controllerName"
              propertyType="CLASS_NAME"
              required="true"
              dynamic="true"
              sourceName="controller"
              valueTemplate="${api.evaluateScript('controllerNameByDescriptorName.groovy', ['descriptorName': descriptorName])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="View id"
              code="id"
              propertyType="SCREEN_ID"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${api.evaluateScript('screenIdByDescriptorName.groovy', ['descriptorName': descriptorName, 'projectId': project_id])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="View route"
              code="route"
              propertyType="FLOW_VIEW_ROUTE"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${api.evaluateScript('controllerNameByDescriptorName.groovy', ['descriptorName': descriptorName])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="Task name"
              code="bpmTaskName"
              propertyType="PROCESS_FORM_TASK_NAME"
              advanced="true"
              required="false"/>

    <property caption="Task details"
              code="bpmTaskDetails"
              propertyType="PROCESS_FORM_TASK_DETAILS"
              advanced="true"
              required="false"/>

    <property caption="Process form variables"
              code="processFormVariables"
              step="1"
              propertyType="PROCESS_FORM_VARIABLES"
              required="false"/>

    <property caption="Process form outcomes"
              code="processFormOutcomes"
              step="2"
              propertyType="PROCESS_FORM_OUTCOMES"
              required="false"/>

    <source fileExt="xml"
            name="descriptor"/>

    <source fileExt="java"
            name="controller"/>

    <source fileExt="kt"
            name="controller"/>
</template>