<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/browser_and_editor.svg"
          name="DTO entity browser and DTO editor screens"
          order="33">
    <tags>
        <tag>ENTITY</tag>
        <tag>DTO</tag>
    </tags>
    <description>
        <![CDATA[<html>DTO browser and editor screens created at once.</html>]]>
    </description>
    <locMessages key="browseCaption" expressionKey="${studioUtils.decapitalize(lookupControllerName)}.caption">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(entity.className.concat('.browse'), null)}]]>
        </message>
    </locMessages>
    <locMessages key="browseMenu" expressionKey="${studioUtils.decapitalize(lookupControllerName)}.menu">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(entity.className.concat('.browse'), null)}]]>
        </message>
    </locMessages>
    <locMessages key="editorCaption" expressionKey="${studioUtils.decapitalize(editorControllerName)}.caption">
        <message lang="default">
            <![CDATA[${entity.className} editor]]>
        </message>
    </locMessages>

    <steps>
        <step name="Entity browser and editor screens" order="0"/>
        <step name="Entity browser and editor options" order="1"/>
    </steps>

    <!--properties-->
    <property caption="Entity"
              code="entity"
              propertyType="ENTITY"
              required="true"/>
    <property caption="Table type"
              code="tableType"
              step="1"
              propertyType="TABLE_TYPE"
              relatedProperty="entity"
              required="true"/>
    <property caption="Parent menu item"
              step="1"
              code="menuItem"
              propertyType="MENU_ITEM"/>
    <property caption="Field column width"
              code="fieldColumnWidth"
              defaultValue="350px"
              step="1"
              propertyType="PX_SIZE"
              required="true"/>
    <property caption="Editor only modal dialog"
              code="modalDialog"
              step="1"
              propertyType="BOOLEAN"/>
    <property caption="Editor extended window actions"
              code="extendedWindowActions"
              step="1"
              propertyType="BOOLEAN"/>
    <property caption="Keep editor actions at the bottom"
              code="editorActionBottom"
              propertyType="BOOLEAN"
              step="1"
              dynamic="true"
              valueTemplate="${generationSettings_keepEditorActionsAtBottom}"/>
    <property caption="Multiselect"
              code="multiselect"
              step="1"
              propertyType="BOOLEAN"/>
    <property caption="Presentation"
              code="presentation"
              step="1"
              propertyType="BOOLEAN"/>

    <property caption="Browser descriptor name"
              code="lookupDescriptorName"
              propertyType="DESCRIPTOR_NAME"
              dynamic="true"
              sourceName="descriptor"
              group="browse"
              required="true"
              valueTemplate="${api.evaluateScript('descriptorFileName.groovy', ['entity': entity])}-browse">
        <dependency code="entity"/>
    </property>

    <property caption="Browser controller name"
              code="lookupControllerName"
              propertyType="CLASS_NAME"
              dynamic="true"
              sourceName="controller"
              group="browse"
              required="true"
              valueTemplate="${entity.className}Browse">
        <dependency code="entity"/>
    </property>

    <property caption="Browser id"
              code="lookupId"
              propertyType="SCREEN_ID"
              required="true"
              dynamic="true"
              group="browse"
              valueTemplate="${entity.name!=null?entity.name:entity.className}.browse">
        <dependency code="entity"/>
    </property>

    <property caption="Editor descriptor name"
              code="editorDescriptorName"
              propertyType="DESCRIPTOR_NAME"
              sourceName="descriptor"
              group="editor"
              required="true"
              dynamic="true"
              valueTemplate="${api.evaluateScript('descriptorFileName.groovy', ['entity': entity])}-edit">
        <dependency code="entity"/>
    </property>

    <property caption="Editor controller name"
              code="editorControllerName"
              propertyType="CLASS_NAME"
              sourceName="controller"
              group="editor"
              required="true"
              dynamic="true"
              valueTemplate="${entity.className}Edit">
        <dependency code="entity"/>
    </property>

    <property caption="Editor Id"
              code="editorId"
              propertyType="SCREEN_ID"
              group="editor"
              dynamic="true"
              valueTemplate="${entity.name!=null?entity.name:entity.className}.edit"
              required="true">
        <dependency code="entity"/>
    </property>

    <!--sources-->
    <source fileExt="xml"
            group="browse"
            name="../browser-dto/descriptor"/>
    <source fileExt="java"
            group="browse"
            name="../browser-dto/controller"/>
    <source fileExt="kt"
            group="browse"
            name="../browser-dto/controller"/>

    <source fileExt="xml"
            group="editor"
            name="../editor-dto/descriptor"/>
    <source fileExt="java"
            group="editor"
            name="../editor-dto/controller"/>
    <source fileExt="kt"
            group="editor"
            name="../editor-dto/controller"/>
</template>