vaadin-email-field[readonly][invalid] {
    --lumo-required-field-indicator-color: var(--lumo-primary-text-color);
    --vaadin-input-field-invalid-background: transparent;
    --vaadin-input-field-invalid-hover-highlight: transparent;
}

vaadin-email-field[disabled][invalid] {
    --lumo-required-field-indicator-color: var(--lumo-primary-text-color);
    --vaadin-input-field-invalid-background: var(--lumo-contrast-5pct);
}

vaadin-email-field[disabled][has-error-message]::part(error-message),
vaadin-email-field[readonly][has-error-message]::part(error-message) {
    display: none;
}