:host([theme~='jmix-group-filter-form-item']:not([label-position='top'])) {
  align-items: center;
}

:host([theme~='jmix-group-filter-form-item']:not([label-position='top'])) [part='label'] {
  margin: 0;
}

:host([theme~='label-align-end']:not([label-position='top'])) [part='label'] {
  display: flex;
  justify-content: end;
}