<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu" order="2700">

    <menu id="reports" title="msg://io.jmix.reportsflowui.flowui/menu.reports.title">
        <item view="report_Report.list" title="msg://io.jmix.reportsflowui.flowui/menu.report_Report.list"/>
        <item view="report_ReportGroup.list" title="msg://io.jmix.reportsflowui.flowui/menu.report_ReportGroup.list"/>
        <item view="report_ReportRun.view" title="msg://io.jmix.reportsflowui.flowui/menu.report_ReportRun.view"/>
        <item view="report_ReportTable.view" title="msg://io.jmix.reportsflowui.flowui/menu.report_ReportTable.view"/>
    </menu>

</menu-config>