<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright 2023 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_main_window.svg"
          name="Main view with top menu"
          order="80"
          enabled="true">
    <description>
        <![CDATA[<html>A main view with a top menu.</html>]]>
    </description>

    <locMessages key="viewTitle">
        <message lang="default"><![CDATA[${project.getName()} application]]></message>
    </locMessages>
    <locMessages key="logoutBtnDescription">
        <message lang="default">Logout</message>
    </locMessages>

    <property caption="Descriptor name"
              code="descriptorName"
              defaultValue="main-view-top-menu"
              propertyType="DESCRIPTOR_NAME"
              required="true"
              sourceName="descriptor"/>

    <property caption="Controller name"
              code="controllerName"
              propertyType="CLASS_NAME"
              defaultValue="MainViewTopMenu"
              required="true"
              sourceName="controller"
              valueTemplate="${api.evaluateScript('controllerNameByDescriptorName.groovy', ['descriptorName': descriptorName])}"/>

    <property caption="View id"
              code="screenId"
              propertyType="SCREEN_ID"
              defaultValue="MainViewTopMenu"
              required="true"
              valueTemplate="${api.evaluateScript('screenIdByDescriptorName.groovy', ['descriptorName': descriptorName, 'projectId': project_id])}"/>

    <source fileExt="xml"
            name="descriptor"/>
    <source fileExt="java"
            name="controller"/>
    <source fileExt="kt"
            name="controller"/>
</template>
