.tasklist-data-loading__root {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasklist-data-loading__container {
    text-align: center;
}