.jmix-twin-column-items-column-label, .jmix-twin-column-selected-items-column-label  {
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
    line-height: 1;
    font-size: var(--lumo-font-size-s);
    padding-bottom: var(--lumo-space-xs);
}

jmix-twin-column[disabled] :is(.jmix-twin-column-items-column-label, .jmix-twin-column-selected-items-column-label) {
    color: var(--lumo-disabled-text-color);
}

jmix-twin-column vaadin-list-box {
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: 0;
}

jmix-twin-column vaadin-item {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    border-radius: 0;
    padding: var(--lumo-space-xs) var(--lumo-space-m);
}

jmix-twin-column vaadin-item::part(checkmark) {
    display: none;
}

jmix-twin-column vaadin-item[selected] {
    background-color: var(--lumo-primary-color-10pct);
}

jmix-twin-column vaadin-item:not([selected]):hover {
    background-color: transparent;
}

jmix-twin-column[theme~="no-border"] vaadin-list-box  {
    border-width: 0;
}

jmix-twin-column[theme~="no-row-border"] vaadin-item  {
    border-width: 0;
}

jmix-twin-column[theme~="checkmarks"] vaadin-item::part(checkmark)  {
    display: block;
}

jmix-twin-column[theme~="checkmarks"] vaadin-item {
    padding: var(--lumo-space-xs) var(--lumo-space-m) var(--lumo-space-xs) var(--lumo-space-xs);
}

jmix-twin-column[theme~="checkmarks"] vaadin-item[selected] {
    background-color: transparent;
}

jmix-twin-column[theme~="checkmarks"] vaadin-item:hover {
    background-color: var(--lumo-primary-color-10pct);
}

jmix-twin-column vaadin-item:nth-last-of-type(1) {
    border-bottom: 0px;
}

jmix-twin-column vaadin-button:first-child {
    margin-top: var(--lumo-space-s);
}

jmix-twin-column[theme~="no-space-between-actions"] vaadin-button:first-child {
    border-top-left-radius: var(--lumo-border-radius-m);
    border-top-right-radius: var(--lumo-border-radius-m);
}

jmix-twin-column[theme~="no-space-between-actions"] vaadin-button {
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

jmix-twin-column[theme~="no-space-between-actions"] vaadin-button:last-child {
    border-bottom-left-radius: var(--lumo-border-radius-m);
    border-bottom-right-radius: var(--lumo-border-radius-m);
}

jmix-twin-column .jmix-twin-column-actions-panel {
    padding: 0 var(--lumo-space-s) 0 var(--lumo-space-s);
    box-sizing: content-box;
}

jmix-twin-column vaadin-button vaadin-icon[dir="rtl"] {
    rotate: 180deg;
}

jmix-twin-column[invalid] .jmix-twin-column-items-column {
    border-top: 1px solid var(--lumo-error-color);
    border-left: 1px solid var(--lumo-error-color);
    border-bottom: 1px solid var(--lumo-error-color);
}

jmix-twin-column[invalid][dir="rtl"] .jmix-twin-column-items-column {
    border-left-width: 0;
    border-right: 1px solid var(--lumo-error-color);
}

jmix-twin-column[invalid] .jmix-twin-column-selected-items-column {
    border-top: 1px solid var(--lumo-error-color);
    border-right: 1px solid var(--lumo-error-color);
    border-bottom: 1px solid var(--lumo-error-color);
}

jmix-twin-column[invalid][dir="rtl"] .jmix-twin-column-selected-items-column {
    border-left: 1px solid var(--lumo-error-color);
    border-right-width: 0;
}

jmix-twin-column[invalid] .jmix-twin-column-actions-panel {
    border-top: 1px solid var(--lumo-error-color);
    border-bottom: 1px solid var(--lumo-error-color);
}