.jmix-date-time-picker:has([readonly])::part(error-message) {
    display: none;
}

.jmix-date-time-picker:has([readonly]) ::part(input-field) {
    background-color: transparent;
}

.jmix-date-time-picker:has([readonly]) ::part(input-field)::after {
    background: transparent;
}

.jmix-date-time-picker:has([disabled])::part(error-message) {
    display: none;
}

.jmix-date-time-picker:has([disabled]) ::part(input-field) {
    background-color: var(--lumo-contrast-5pct);
}
