<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright 2021 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_single_screen.svg"
          name="Master-detail screen"
          order="40">
    <tags>
        <tag>ENTITY</tag>
        <tag>JPA</tag>
    </tags>
    <description>
        <![CDATA[<html>Combined screen with the browser on the left and the editor on the right.
        Editor fields are disabled until a user clicks <i>Create</i> or <i>Edit</i>.</html>]]>
    </description>
    <locMessages key="browseCaption" expressionKey="${studioUtils.decapitalize(controllerName)}.caption">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(entity.className.concat('.browse'), null)}]]>
        </message>
    </locMessages>
    <locMessages key="browseMenu" expressionKey="${studioUtils.decapitalize(controllerName)}.menu">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(entity.className.concat('.browse'), null)}]]>
        </message>
    </locMessages>
    <locMessages key="mainTab" expressionKey="${studioUtils.decapitalize(entity.className)}.editorMainTab.caption">
        <message lang="default">
            <![CDATA[Main]]>
        </message>
    </locMessages>
    <steps>
        <step name="Master-detail screen" order="0"/>
        <step name="Entity browser fetch plan" order="1"/>
        <step name="Entity editor fetch plan" order="2"/>
    </steps>
    <property caption="Entity"
              code="entity"
              propertyType="ENTITY"
              required="true"
              filterScript="screen/filterScreenEntity.groovy"/>
    <property caption="Browse fetch plan"
              code="browseView"
              propertyType="VIEW_COMPONENT"
              step="1"
              relatedProperty="entity"
              required="true"/>
    <property caption="Edit fetch plan"
              code="editView"
              step="2"
              propertyType="VIEW_COMPONENT"
              relatedProperty="entity"
              required="true"/>
    <property caption="Table type"
              code="tableType"
              propertyType="TABLE_TYPE"
              relatedProperty="entity"
              required="true"/>
    <property caption="Hierarchical property"
              code="hierarchicalProperty"
              propertyType="HIERARCHICAL_PROPERTY"
              relatedProperty="tableType"
              required="false"/>
    <property caption="Parent menu item"
              code="menuItem"
              propertyType="MENU_ITEM"/>
    <property caption="Field column width"
              code="fieldColumnWidth"
              defaultValue="350px"
              propertyType="PX_SIZE"
              required="true"
              preferences="true"/>
    <property caption="Table actions"
              code="tableActions"
              defaultValue="create,edit,remove"
              propertyType="MULTI_OPTION"
              preferences="true"
              optionsString="${actionSearch.getWizardTableActions()}"/>
    <property caption="Create filter"
              code="createFilter"
              defaultValue="true"
              propertyType="BOOLEAN"
              preferences="true"/>
    <property caption="Multiselect"
              code="multiselect"
              propertyType="BOOLEAN"
              preferences="true"/>
    <property caption="Presentation"
              code="presentation"
              propertyType="BOOLEAN"
              preferences="true"/>

    <property caption="Descriptor name"
              code="descriptorName"
              propertyType="DESCRIPTOR_NAME"
              advanced="true"
              dynamic="true"
              sourceName="descriptor"
              required="true"
              valueTemplate="${api.evaluateScript('descriptorFileName.groovy', ['entity': entity])}-browse">
        <dependency code="entity"/>
    </property>

    <property caption="Controller name"
              code="controllerName"
              propertyType="CLASS_NAME"
              advanced="true"
              dynamic="true"
              sourceName="controller"
              required="true"
              valueTemplate="${entity.className}Browse">
        <dependency code="entity"/>
    </property>

    <property caption="Screen id"
              code="screenId"
              propertyType="SCREEN_ID"
              required="true"
              dynamic="true"
              advanced="true"
              valueTemplate="${entity.name!=null?entity.name:entity.className}.browse">
        <dependency code="entity"/>
    </property>

    <source fileExt="xml"
            name="descriptor"/>
    <source fileExt="java"
            name="controller"/>
    <source fileExt="groovy"
            name="controller"/>
    <source fileExt="kt"
            name="controller"/>
</template>
