:is(jmix-ai-upload-trigger) {
  position: relative;
  transition: scale 180ms;
  outline-offset: calc(var(--vaadin-button-border-width, 1px) * -1);
}

:is(jmix-ai-upload-trigger):where(:not([theme~='menuitem'])) {
  color: var(--vaadin-button-text-color, var(--aura-accent-text-color));
  border-color: var(--vaadin-button-border-color, var(--aura-accent-border-color));
  box-shadow: var(--vaadin-button-shadow, var(--aura-shadow-xs));

  /* Copied from Vaadin to get the same elevated surface as a stock button */
  --aura-surface-level: 4;
  --aura-surface-opacity: 0.5;
  --_up: clamp(0, var(--aura-surface-level), 4);
  --_down: clamp(0, calc(var(--aura-surface-level) * -1), 4);
  --_u: calc(var(--_up) / 4);
  --_e-light: clamp(0, calc(var(--_u) * 4 - var(--_u) * 8 * var(--_u) + var(--_u) * 6.5 * var(--_u) * var(--_u)), 1);
  --_e-dark: calc(var(--_down) / 20);
  --aura-surface-color-solid: light-dark(oklch(from var(--aura-background-color-light) clamp(0, calc(l + (1 - l) * var(--_e-light) - l * var(--_e-dark)), 1) clamp(0, calc(c * (1 - 0.5 * var(--_e-light) - 0.15 * var(--aura-surface-level)) * (1 - 0.35 * var(--_e-dark))), 0.4) h), oklch(from var(--aura-background-color-dark) calc(max(0.03, l) + 0.03 * var(--aura-surface-level) + max(0, 0.2 - max(0.03, l)) * (1.1 - 0.06 * var(--aura-surface-level))) clamp(0, c * (1 + l), 0.2) h));
  --aura-surface-color: color-mix(in oklab, var(--aura-surface-color-solid) calc(100% * var(--aura-surface-opacity)), transparent);
  background: var(--vaadin-button-background, var(--aura-surface-color) padding-box);
}

:is(jmix-ai-upload-trigger):has([slot='prefix']) {
  padding-inline-end: 0.75rem;
}

:is(jmix-ai-upload-trigger):not([disabled])::before {
  content: '';
  position: absolute;
  inset: calc(var(--vaadin-button-border-width, 1px) * -1);
  pointer-events: none;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0;
  transition:
    opacity 100ms,
    background-color 100ms;
}

@supports (color: hsl(0 0 0)) {
  :is(jmix-ai-upload-trigger):not([disabled])::before {
    background-color: oklch(from currentColor calc(l + 0.4 - c) c h / calc(1 - l / 2));
  }
}

@media (any-hover: hover) {
  :is(jmix-ai-upload-trigger):hover:not([disabled], [active])::before {
    opacity: 0.03;
  }
}

@media (min-resolution: 2x) {
  /* prettier-ignore */
  :is(jmix-ai-upload-trigger)[active]:not([disabled]) {
    scale: 0.98;
    transition-duration: 50ms;
  }
}

:is(jmix-ai-upload-trigger)[active]:not([disabled]) {
  box-shadow: none;
}

:is(jmix-ai-upload-trigger)[active]:not([disabled])::before {
  transition-duration: 0s;
  opacity: 0.08;
  background: oklch(from currentColor min(c, 1 - l + c) calc(c * 0.9) h);
}
