.login-form-wrapper {
    gap: var(--vaadin-login-form-gap, var(--vaadin-gap-l));
    align-items: stretch;

    max-width: var(--vaadin-login-form-width, 360px);
    padding: var(--vaadin-login-form-padding, var(--vaadin-padding-l));

    border: 1px solid var(--vaadin-border-color);
    border-radius: var(--vaadin-radius-l);

    background: var(--vaadin-login-form-background, var(--aura-surface-color));
    box-shadow: var(--aura-shadow-s);
}

.login-form-header {
    color: var(--vaadin-login-form-title-color, var(--vaadin-text-color));

    font-size: var(--vaadin-login-form-title-font-size, 1.25rem);
    font-weight: var(--vaadin-login-form-title-font-weight, 600);
    line-height: var(--vaadin-login-form-title-line-height, inherit);
}

.login-form-error-message {
    color: var(--vaadin-login-form-error-color, var(--aura-red-text));

    font-size: var(--vaadin-login-form-error-font-size, inherit);
    font-weight: var(--vaadin-login-form-error-font-weight, 400);
    line-height: var(--vaadin-login-form-error-line-height, inherit);

    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--vaadin-login-form-error-gap, 0 var(--vaadin-gap-s));
}

.login-form-error-message:before {
    background: currentColor;
    content: '';
    display: inline-block;
    flex: none;
    height: var(--vaadin-icon-size, 1lh);
    mask: var(--_vaadin-icon-warn) 50% / var(--vaadin-icon-visual-size, 100%) no-repeat;
    width: var(--vaadin-icon-size, 1lh);
}

.login-form-error-message-title {
    color: inherit;
}

.login-form-error-message-description {
    margin: 0;
    grid-column: 2;
}

.login-form-settings-wrapper {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-form-locale-select {
    width: 100%;
    max-width: var(--jmix-login-form-locales-select-width, 8em);
}