/* Define your theme modifications inside next mixin */
@mixin dashboards {
    .min-height{
        min-height:100%;
    }

    .dashboard-widget {
        overflow: auto;
    }

    .dashboard-main-shadow-border{
        border: 2px solid transparent;
    }

    .dashboard-main-shadow-border .dashboard-root-layout {
        padding : 4px !important;
    }

    .dashboard-canvas {
        overflow: auto;
    }

    .dashboard-root-layout {
        overflow: auto;
        height: 100%;
    }

    .dashboard-shadow-border {
        box-shadow: inset 0 0 3px #e0e0e0;
        border: 2px solid transparent;
        background : none;
        padding : 4px !important;
        border-radius: 3px;
    }

    .dashboard-grid-cell-shadow-border {
        box-shadow: inset 0 0 5px #e0e0e0;
        border: 2px solid transparent;
    }

    .dashboard-left-margin-button {
        margin-left: 50px;
    }

    .dashboard-full-margin-button {
        margin: 10px;
    }

    .dashboard-button {
        background: none;
        border: 2px dashed #b5b5b5 !important;
        color: #4e4e4e;
        border-radius: 4px;
        text-align: left !important;
        font-size: 24px !important;
        box-shadow: none;
        margin-bottom: 5px;
    }

    .dashboard-selected-button {
      background: none;
      border: 2px solid $v-selection-color;
      color: #4e4e4e;
      border-radius: 4px;
      text-align: left !important;
      font-size: 24px !important;
      box-shadow: none;
      margin-bottom: 5px;
    }

    .dashboard-button .v-button-caption {
        font-weight: 300 !important;
    }

    .dashboard-settings-window-label {
        background: #ccc;
        padding: 2px 4px 3px 4px;
        border-radius: 3px;
    }

    .dashboard-button:after {
        border: none;
    }

    .dashboard-button .v-icon {
        width: 30px;
    }

    .dashboard-button:focus:after {
        border: none;
        box-shadow: none;
    }

    .dashboard-layout-controls {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 1px;
        background: black;
        border-bottom-left-radius: 5px;
        opacity: 0.7;
        z-index: 10;
        display: none;
    }

    .dashboard-layout-controls .dashboard-edit-button {
        display: none;
    }

    .v-csslayout.dashboard-shadow-border {
        position: relative;
    }

    .dashboard-tree-selected > .dashboard-layout-controls {
        display: inline-block;
    }

    .dashboard-tree-selected > .dashboard-layout-controls .dashboard-edit-button {
        display: inline-block;
    }

    .dashboard-layout-controls .v-button {
        color: white;
        border: none;
        box-shadow: none;
        background: none;
    }

    .dashboard-layout-controls .dashboard-view-button {
        display: none;
    }

    .dashboard-main-layout-controls {
        position: absolute;
        left: 0;
        background: black;
        border-bottom-right-radius: 5px;
        opacity: 0.7;
        z-index: 10;
        display: none;
    }

    .dashboard-main-layout-controls-show .dashboard-main-layout-controls {
        display: inline-block;
    }

    .dashboard-main-layout-controls .v-button {
        color: white;
        border: none;
        box-shadow: none;
        background: none;
    }

    .dashboard-layout-content .v-gridlayout-spacing-on {
        padding-left: 5px;
        padding-top: 5px;
    }

    .dashboard-tree .v-tree {
        padding: 2px;
        border: none;
    }

    .v-tree-node-caption.v-drag-element {
        padding: 2px 0px 0px 14px;
        width: initial !important;
    }

    .v-tree-node-caption.v-drag-element>div:before {
        content: none;
    }

    .dashboard-tree-selected {
       border: 2px solid $v-selection-color;
       border-radius: 3px;
    }

    .dashboard-disabled .dashboard-tree-selected {
       border: none;
       border-radius: 0;
       box-shadow: none;
    }

    .dashboard-tree-selected > .dashboard-layout-controls {
       display: inline-block;
    }

    .dashboard-disabled .dashboard-tree-selected > .dashboard-layout-controls {
        display: none;
    }

    .v-csslayout.v-csslayout-drag-center {
        border: 2px solid $v-selection-color;
        border-radius: 3px;
    }

    .v-csslayout.v-csslayout-drag-center > .dashboard-layout-controls {
        display: inline-block;
    }

    .v-csslayout.v-csslayout-drag-center > .dashboard-layout-controls .dashboard-edit-button {
        display: inline-block;
    }

    .dashboard-layout.jmix-responsivegridlayout {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100% !important;
    }

    .dashboard-layout.jmix-responsivegridlayout > .row > [class^=col-] {
        padding: 0px !important;
    }
}