<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright 2023 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_login_window.svg"
          name="Login view with regular components"
          order="75"
          enabled="true">
    <description>
        <![CDATA[<html>A login view with a layout based on regular components.</html>]]>
    </description>

    <locMessages key="loginViewTitle" expressionKey="${studioUtils.decapitalize(controllerName)}.title">
        <message lang="default"><![CDATA[Login - ${project.getName()}]]></message>
    </locMessages>

    <locMessages key="loginFormHeaderTitle" expressionKey="${'loginForm.headerTitle'}">
        <message lang="default"><![CDATA[${project.getName()}]]></message>
    </locMessages>

    <locMessages key="loginFormUsername" expressionKey="${'loginForm.username'}">
        <message lang="default"><![CDATA[Username]]></message>
    </locMessages>

    <locMessages key="loginFormPassword" expressionKey="${'loginForm.password'}">
        <message lang="default"><![CDATA[Password]]></message>
    </locMessages>

    <locMessages key="loginFormRememberMe" expressionKey="${'loginForm.rememberMe'}">
        <message lang="default"><![CDATA[Remember me]]></message>
    </locMessages>

    <locMessages key="loginFormSubmit" expressionKey="${'loginForm.submit'}">
        <message lang="default"><![CDATA[Log in]]></message>
    </locMessages>

    <locMessages key="loginFormErrorTitle" expressionKey="${'loginForm.errorTitle'}">
        <message lang="default"><![CDATA[Login failed]]></message>
    </locMessages>

    <locMessages key="loginFormBadCredentials" expressionKey="${'loginForm.badCredentials'}">
        <message lang="default"><![CDATA[Check that you have entered the correct username and password and try again]]></message>
    </locMessages>

    <locMessages key="loginFormErrorUsername" expressionKey="${'loginForm.errorUsername'}">
        <message lang="default"><![CDATA[Username is required]]></message>
    </locMessages>

    <locMessages key="loginFormErrorPassword" expressionKey="${'loginForm.errorPassword'}">
        <message lang="default"><![CDATA[Password is required]]></message>
    </locMessages>

    <property caption="Descriptor name"
              code="descriptorName"
              defaultValue="login-view-regular-components"
              propertyType="DESCRIPTOR_NAME"
              required="true"
              focused="true"
              sourceName="descriptor"/>

    <property caption="Controller name"
              code="controllerName"
              propertyType="CLASS_NAME"
              required="true"
              sourceName="controller"
              dynamic="true"
              valueTemplate="${api.evaluateScript('controllerNameByDescriptorName.groovy', ['descriptorName': descriptorName])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="View id"
              code="viewId"
              propertyType="SCREEN_ID"
              required="true"
              dynamic="true"
              valueTemplate="${api.evaluateScript('screenIdByDescriptorName.groovy', ['descriptorName': descriptorName, 'projectId': project_id])}">
        <dependency code="descriptorName"/>
    </property>

    <property caption="Use as default login view"
              code="defaultLoginView"
              propertyType="BOOLEAN"
              defaultValue="false"
              preferences="true"/>

    <source fileExt="xml"
            name="descriptor"/>
    <source fileExt="java"
            name="controller"/>
    <source fileExt="kt"
            name="controller"/>

    <resource>
        <directory>styles</directory>
        <copyTo>META-INF/frontend/styles/login-view/</copyTo>
    </resource>
</template>
